{% extends 'main.html' %}
{% block content %}
    <div class="row"><div class="column">
        <div style="overflow-x:auto;">
            {% if texts %}
                <table>
                    {% for text in texts %}
                        <tr>
                            <td>{{ text }}</td>
                            <td style="text-align: center;"><a href="/check/{{ text.pk }}/">detail</a></td>
                        </tr>
                    {% endfor %}
                </table>

            {% else %}
                <big>There are no text checks yet.</big>
            {% endif %}
        </div>
    </div></div>

    {% if is_paginated %}
        <div class="paginator">
            {% if page_obj.has_previous %}
                <a href="/page/{{ page_obj.previous_page_number }}/">&lt;</a>
            {% else %}
                &lt;
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
                <a href="/page/{{ forloop.counter }}/">{{ page }}</a>
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="/page/{{ page_obj.next_page_number }}/">&gt;</a>
            {% else %}
                &gt;
            {% endif %}
        </div>
    {% endif %}
{% endblock %}