{% extends 'main.html' %}
{% block content %}
    <div class="row"><div class="column">
        <div style="overflow-x:auto;">
            {% if texts %}
                <table>
                    {% for text in texts %}
                        <tr>
                            <td>{{ text }}</td>
                            <td>{{ text.get_status_repr }}</td>
                            <td style="text-align: center;"><a href="/check/{{ text.pk }}/">detail</a></td>
                        </tr>
                    {% endfor %}
                </table>

            {% else %}
                <big>There are no text checks yet.</big>
            {% endif %}
        </div>
    </div></div>

    {% if texts %}
        <div class="paginator">
            {% if texts.has_previous %}
                {% if texts.previous_page_number != 1 %}
                    <a href="/page/1/">&laquo;</a>
                {% endif %}

                <a href="/page/{{ texts.previous_page_number }}/">&lt;</a>
            {% else %}
                &lt;
            {% endif %}

            {% if texts.has_next %}
                <a href="/page/{{ texts.next_page_number }}/">&gt;</a>

                {% if texts.next_page_number != texts.paginator.num_pages %}
                    <a href="/page/{{ texts.paginator.num_pages }}/">&raquo;</a>
                {% endif %}
            {% else %}
                &gt;
            {% endif %}
        </div>
    {% endif %}
{% endblock %}