<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}?{{ version }}"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}?{{ version }}"/>

        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <title>Truth Checker</title>
    </head>
    <body>
        <div class="header">
            <h1>Truth Checker</h1>
        </div>

	    <div>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/check/">Check text</a></li>
            </ul>
	    </div>
        <div style="background-color: #ffffff;">
            {% block content %}{% endblock %}

            <div class="footer">
                <p>All rights reserved. &copy;</p>
            </div>
        </div>
    </body>
</html>